<!--begin::App Content Header-->
<div class="app-content-header" style="min-height:32px;"></div>
<div class="app-content">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="card shadow-lg border-0 mb-5 mt-4">
          <div class="card-body p-5 text-center bg-light rounded">
            <h2 class="mb-3 fw-bold text-primary">Chúc mừng bạn đã đăng nhập hệ thống thành công</h2>
            <p class="lead mb-0 text-secondary">Vui lòng chọn menu để thực hiện tác nghiệp.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--end::App Content Header-->
